#bir {
	border:2px groove;
	margin:50px;
	
	
	
	background-color:#c1c2c3;
	width:200px;
	height:50px;
	padding:30px;
	
	
	}
	#iki {
	
	background-color:#fbf5f4;
	border:2px groove;
	margin:50px;
	width:200px;
	height:50px;
	padding:30px;
	
	
	
	}
	#uc {
	
	background-color:#ebd3c7;
	border:2px groove;
	margin:50px;
	width:200px;
	height:50px;
	padding:30px;
	
	
	
	
	}
	#butondivi {
	
	background-color:#b7c888;
	border:2px groove;
	margin:50px;
	width:200px;
	height:50px;
	padding:30px;
	
	
	
	
	}